{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'flights/style.css' %}">
    {% block title %}
    <title>Fly Airtech</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Fly Airtech</a>
            </div>
            <div class="login-button">
                <a class="mobile-hidden" href="#">Login</a>
                <i class="fas fa-user fa-2x"></i>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>
<footer>
    <article>
        <header>Fly Airtech</header>
        <p>
            Book flights to various parts of Nigeria with Airtech, Nigeria's leading airline offering domestic flights
        </p>
    </article>
    <section>
        <h4>Let us stay Connected</h4>
        <div>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
        </div>
    </section>
    <section>
        <h4>Contact Us</h4>
        <span>
            <i class="far fa-building"></i>
            <p>81 Adetola Street, Surulere, Lagos</p>
        </span>
        <span>
            <i class="far fa-envelope"></i>
            <p>flyairtech@airtechgroup.com</p>
        </span>
        <span>
            <i class="fas fa-phone-square"></i>
            <p>+234 8069542385</p>
        </span>
    </section>
</footer>
</html>