{% extends "base.html" %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container">
            <header class="book-flights-header">Select Flight</header>
        </section>
        <section class="container-fluid book-flights-status">
            <div class="container">
                <section class="row book-flights-status-row">
                    <div class="col-6 col-md-3 align-middle">
                        <span>
                            {{ search.from_location.iata }}
                        </span>
                        <span>
                            {{ search.from_location.city }}
                        </span>
                        {% if search.returning_date %}
                            <i class="fas fa-arrows-alt-h"></i>
                        {% else %}
                            <i class="fas fa-arrow-circle-right"></i>
                        {% endif %}
                        <span>
                            {{ search.to_location.iata }}
                        </span>
                        <span>
                            {{ search.to_location.city }}
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                        {{ search.departure_date|date:"D, d M Y" }}
                        {% if search.returning_date %}
                            - {{ search.returning_date|date:"D, d M Y" }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-6 col-md-2">
                        <span>
                        {{ search.adults }} Adults
                        {% if search.children %}
                            {{ search.children }} Children
                        {% endif %}
                        {% if search.infants %}
                            {{ search.infants }} Infants
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn pry-color">Modify Search</button>
                    </div>
                </section>
            </div>
        </section>
        <section class="container book-flight-details">
            <header><i class="far fa-arrow-alt-circle-left"></i> Outbound Flight</header>
            <h2 class="flight-location">
                {{ search.from_location.city }}
                <i class="fas fa-arrow-right"></i>
                {{ search.to_location.city }}
            </h2>
        </section>
        <section class="container book-flight-flights">
            <hr>
            <div class="row">
                {% for flight_info in departure_flights %}
                <div class="col">
                    <a href="">
                        <div class="flight-date-info">
                            <p class="flight-date">{{ flight_info.date|date:'D, d M' }}</p>
                            {% if flight_info.flights %}
                                <p class="flight-cheapest">from {{ flight_info.cheapest_flight.normalize }} NGN</p>
                            {% else %}
                                <p class="flight-cheapest">No flights</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
            {% for flight_info in departure_flights %}
                    {% for flight in flight_info.flights %}
                        <div>
                            <p>Departure</p>
                            <div>
                                <span>{{ flight.last_update|date:"H:i" }}</span>
                                <span>{{ flight.departure.airport }}
                                    {{ flight.departure.city }}, {{ flight.departure.country }}
                                </span>
                                <span>{{ flight.flight_number }}, {{ flight.aircraft }}</span>
                                <p>Operated by: Airtech Airways</p>
                            </div>
                        </div>
                        <span>
                            {{ flight.flight_duration }}
                        </span>
                        <div>
                            <p>Arrival</p>
                            <div>
                                <span>{{ flight.last_update|date:"H:i" }}</span>
                                <span>{{ flight.destination.airport }}
                                    {{ flight.destination.city }}, {{ flight.destination.country }}
                                </span>
                                <span>{{ flight.flight_number }}, {{ flight.aircraft }}</span>
                                <p>Operated by: Airtech Airways</p>
                            </div>
                        </div>
                        <div>
                            <p>Choose preferred flight</p>
                            <div>
                                <div>
                                    <span>Economy</span>
                                    <span>{{ flight.price_economy }}</span>
                                </div>
                                <div>
                                    <span>Business</span>
                                    <span>{{ flight.price_business }}</span>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div>No flights on this day</div>
                    {% endfor %}
            {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}