{% extends "base.html" %}
{% load flights_extras %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container">
            <header class="book-flights-header">Select Flight</header>
        </section>
        <section class="container-fluid book-flights-status">
            <div class="container">
                <section class="row book-flights-status-row">
                    <div class="col-6 col-md-3 align-middle">
                        <span>
                            {{ search.from_location.iata }}
                        </span>
                        <span>
                            {{ search.from_location.city }}
                        </span>
                        {% if search.returning_date %}
                            <i class="fas fa-arrows-alt-h"></i>
                        {% else %}
                            <i class="fas fa-arrow-circle-right"></i>
                        {% endif %}
                        <span>
                            {{ search.to_location.iata }}
                        </span>
                        <span>
                            {{ search.to_location.city }}
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                        {{ search.departure_date|date:"D, d M Y" }}
                        {% if search.returning_date %}
                            - {{ search.returning_date|date:"D, d M Y" }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-6 col-md-2">
                        <span>
                        {{ search.adults }} Adult{{ passengers.adults|pluralize }}
                        {% if search.children %}
                            , {{ search.children }} Child{{ passengers.children|pluralize:"ren" }}
                        {% endif %}
                        {% if search.infants %}
                            , {{ search.infants }} Infant{{ passengers.infants|pluralize }}
                        {% endif %}
                        </span>
                    </div>
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn pry-color">Modify Search</button>
                    </div>
                </section>
            </div>
        </section>

{# OUTBOUND FLIGHT #}
        <section class="container book-flight-details">
            <header><i class="far fa-arrow-alt-circle-left"></i> Outbound Flight</header>
            <h2 class="flight-location">
                {{ search.from_location.city }}
                <i class="fas fa-arrow-right"></i>
                {{ search.to_location.city }}
            </h2>
        </section>
        <section class="container book-flight-flights">
            <hr>
            <ul class="row nav nav-pills" role="tablist" id="flights-pills-tab">
                {% for flight_info in departure_flights %}
                <li class="col nav-item">
                    <a class="nav-link {% if flight_info.date|date:'Dd' == search.departure_date|date:'Dd' %} active{% endif %}"
                       id="flights-pills-tab-{{ flight_info.date|date:'D-d' }}" data-toggle="pill"
                       href="#flights-pills-{{ flight_info.date|date:'D-d' }}" role="tab"
                       aria-controls="flights-pills-{{ flight_info.date|date:'D-d' }}" aria-selected="true">
                        <div class="text-center">
                            <p class="flight-date">{{ flight_info.date|date:'D, d M' }}</p>
                            {% if flight_info.flights %}
                                <p class="flight-cheapest">from N{{ flight_info.cheapest_flight.normalize }}</p>
                            {% else %}
                                <p class="flight-cheapest">No flights</p>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <div class="row tab-content" id="flights-pills-tabContent">
            {% for flight_info in departure_flights %}
                    {% for flight in flight_info.flights %}
                        <div class="d-flex row tab-pane fade
                            {% if flight_info.date|date:'Dd' == search.departure_date|date:'Dd' %} active show{% endif %}"
                             id="flights-pills-{{ flight_info.date|date:'D-d' }}"
                             role="tabpanel" aria-labelledby="flights-pills-tab-{{ flight_info.date|date:'D-d' }}">
                            <div class="col-sm-3 book-flight-flight-header">
                                <p class="text-center">Departure</p>
                                <div>
                                    <p>
                                        <span class="font-weight-bold">{{ flight.last_update|date:"H:i" }}</span>
                                        <span>{{ flight.departure.iata }}</span>
                                    </p>
                                    <p>{{ flight.departure.airport }}
                                        {{ flight.departure.city }}, {{ flight.departure.country }}
                                    </p>
                                    <p>{{ flight.flight_number }}, {{ flight.aircraft }}</p>
                                    <p>Operated by: Airtech Airways</p>
                                </div>
                            </div>
                            <span class="d-flex flex-column align-items-center col-sm-2 align-self-center">
                                <i class="fas fa-clock mb-2"></i>
                                {{ flight.flight_duration|duration }}
                            </span>
                            <div class="col-sm-3 book-flight-flight-header">
                                <p class="text-center">Arrival</p>
                                <div>
                                    <p>
                                        <span class="font-weight-bold">{{ flight.arrival|date:"H:i" }}</span>
                                        <span>{{ flight.destination.iata }}</span>
                                    </p>
                                    <p>{{ flight.destination.airport }}
                                        {{ flight.destination.city }}, {{ flight.destination.country }}
                                    </p>
                                    <p>{{ flight.flight_number }}, {{ flight.aircraft }}</p>
                                    <p>Operated by: Airtech Airways</p>
                                </div>
                            </div>
                            <div class="col-sm-4 book-flight-flight-header flight-classes">
                                <p class="text-center">Choose preferred flight</p>
                                <div class="d-flex justify-content-around">
                                    <div class="d-flex flex-column align-items-center justify-content-around p-2
                                        flight-class bg-primary text-white">
                                        <p>Economy</p>
                                        <input type="radio" class="outbound" name="economy" id="{{ flight.id }}">
                                        <p>{{ flight.price_economy.normalize }}</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center justify-content-around p-2
                                        bg-secondary text-white flight-class">
                                        <p>Business</p>
                                        <input type="radio" class="outbound" name="business" id="{{ flight.id }}">
                                        <p>{{ flight.price_business.normalize }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="tab-pane fade
                            {% if flight_info.date|date:'Dd' == search.departure_date|date:'Dd' %} active show{% endif %}"
                             id="flights-pills-{{ flight_info.date|date:'D-d' }}"
                             role="tabpanel" aria-labelledby="flights-pills-tab-{{ flight_info.date|date:'D-d' }}">
                            <p>No flights on this day</p>
                            <p>Click on another day or modify your search</p>
                        </div>
                    {% endfor %}
            {% endfor %}
            <hr>
            </div>
        </section>

{# INBOUND FLIGHT #}
    {% if search.returning_date %}
        <section class="container book-flight-details">
            <header><i class="far fa-arrow-alt-circle-right"></i> Inbound Flight</header>
            <h2 class="flight-location">
                {{ search.to_location.city }}
                <i class="fas fa-arrow-right"></i>
                {{ search.from_location.city }}
            </h2>
        </section>
        <section class="container book-flight-flights">
            <hr>
            <ul class="row nav nav-pills" role="tablist" id="flights-pills-tab">
                {% for flight_info in return_flights %}
                <li class="col nav-item">
                    <a class="nav-link {% if flight_info.date|date:'Dd' == search.returning_date|date:'Dd' %} active{% endif %}"
                       id="flights-pills-tab-{{ flight_info.date|date:'D-d' }}" data-toggle="pill"
                       href="#flights-pills-{{ flight_info.date|date:'D-d' }}" role="tab"
                       aria-controls="flights-pills-{{ flight_info.date|date:'D-d' }}" aria-selected="true">
                        <div class="text-center">
                            <p class="flight-date">{{ flight_info.date|date:'D, d M' }}</p>
                            {% if flight_info.flights %}
                                <p class="flight-cheapest">from N{{ flight_info.cheapest_flight.normalize }}</p>
                            {% else %}
                                <p class="flight-cheapest">No flights</p>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <hr>
            <div class="row tab-content" id="flights-pills-tabContent">
            {% for flight_info in return_flights %}
                    {% for flight in flight_info.flights %}
                        <div class="d-flex row tab-pane fade
                        {% if flight_info.date|date:'Dd' == search.returning_date|date:'Dd' %} active show{% endif %}"
                             id="flights-pills-{{ flight_info.date|date:'D-d' }}"
                             role="tabpanel" aria-labelledby="flights-pills-tab-{{ flight_info.date|date:'D-d' }}">
                            <div class="col-sm-3 book-flight-flight-header">
                                <p class="text-center">Departure</p>
                                <div>
                                    <p>
                                        <span class="font-weight-bold">{{ flight.last_update|date:"H:i" }}</span>
                                        <span>{{ flight.departure.iata }}</span>
                                    </p>
                                    <p>{{ flight.departure.airport }}
                                        {{ flight.departure.city }}, {{ flight.departure.country }}
                                    </p>
                                    <p>{{ flight.flight_number }}, {{ flight.aircraft }}</p>
                                    <p>Operated by: Airtech Airways</p>
                                </div>
                            </div>
                            <span class="d-flex flex-column align-items-center col-sm-2 align-self-center">
                                <i class="fas fa-clock mb-2"></i>
                                {{ flight.flight_duration|duration }}
                            </span>
                            <div class="col-sm-3 book-flight-flight-header">
                                <p class="text-center">Arrival</p>
                                <div>
                                    <p>
                                        <span class="font-weight-bold">{{ flight.arrival|date:"H:i" }}</span>
                                        <span>{{ flight.destination.iata }}</span>
                                    </p>
                                    <p>{{ flight.destination.airport }}
                                        {{ flight.destination.city }}, {{ flight.destination.country }}
                                    </p>
                                    <p>{{ flight.flight_number }}, {{ flight.aircraft }}</p>
                                    <p>Operated by: Airtech Airways</p>
                                </div>
                            </div>
                            <div class="col-sm-4 book-flight-flight-header flight-classes">
                                <p class="text-center">Choose preferred flight</p>
                                <div class="d-flex justify-content-around">
                                    <div class="d-flex flex-column align-items-center justify-content-around p-2
                                        flight-class bg-primary text-white">
                                        <p>Economy</p>
                                        <input type="radio" class="inbound" name="economy" id="{{ flight.id }}">
                                        <p>{{ flight.price_economy.normalize }}</p>
                                    </div>
                                    <div class="d-flex flex-column align-items-center justify-content-around p-2
                                        bg-secondary text-white flight-class">
                                        <p>Business</p>
                                        <input type="radio" class="inbound" name="business" id="{{ flight.id }}">
                                        <p>{{ flight.price_business.normalize }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="tab-pane fade
                            {% if flight_info.date|date:'Dd' == search.returning_date|date:'Dd' %} active show{% endif %}"
                             id="flights-pills-{{ flight_info.date|date:'D-d' }}"
                             role="tabpanel" aria-labelledby="flights-pills-tab-{{ flight_info.date|date:'D-d' }}">
                            <p>No flights on this day</p>
                            <p>Click on another day or modify your search</p>
                        </div>
                    {% endfor %}
            {% endfor %}
            <hr>
            </div>
        </section>
    {% endif %}
    <section class="container d-flex justify-content-end">
        <input type="submit" class="btn pry-color text-light" id="submit-flights" value="Continue">
    </section>
    </main>
{% endblock %}