{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
         integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'flights/style.css' %}">
    {% block title %}
    <title>Fly Airtech</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark pry-color">
        <a class="navbar-brand" href="/">Fly Airtech</a>
        <ul class="nav-items">
            {% if user.is_authenticated %}
                <li><a class="text-light" href="#">Welcome, {{ user.get_username|title }}</a></li>
                <li><a class="text-light" href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a class="text-light" href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="bg-dark">
        <div class="container">
            <div class="row">
                <article class="footer-info col-sm">
                    <h4>Fly Airtech</h4>
                    <p>
                        Book flights to various parts of Nigeria with Airtech,
                        Nigeria's leading airline offering domestic flights
                    </p>
                </article>
                <article class="footer-social col-sm">
                    <h4>Let us stay Connected</h4>
                    <div>
                        <i class="fab fa-twitter-square fa-3x"></i>
                        <i class="fab fa-facebook-square fa-3x"></i>
                    </div>
                </article>
                <article class="footer-contact col-sm">
                    <h4>Contact Us</h4>
                    <div>
                        <i class="far fa-building fa-2x"></i>
                        <p>81 Adetola Street, Surulere, Lagos</p>
                    </div>
                    <div>
                        <i class="far fa-envelope fa-2x"></i>
                        <p>flyairtech@airtechgroup.com</p>
                    </div>
                    <div>
                        <i class="fas fa-phone-square fa-2x"></i>
                        <p>+234 8069542385</p>
                    </div>
                </article>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <script src="{% static 'flights/script.js' %}"></script>
</body>
</html>