:root {
    --pry-color: #6100ed;
    --pry-color-dark: #0100b9;
    --pry-color-light: #6100ed;
    --sec-color: #8bc34a;
    --sec-color-dark: #5a9216;
    --sec-color-light: #bef67a;
}

body {
    font: 1em 'Roboto', san-serif;
}

.pry-color {
    background-color: var(--pry-color);
}

/* ------------------- INDEX ------------------*/

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#fw-image {
    position: relative;
}

#fw-image img {
    width: 100vw;
}

#fw-image p {
    position: absolute;
    bottom: 20%;
    left: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    text-shadow: 2px -2px 2px var(--pry-color);
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-items li {
    margin: 0 10px;
}

section {
    margin: 10px 0;
}

#form-switcher {
    margin: 5px 0 10px;
}

.mobile-hidden {
    display: none;
}

.trip-mode-switch {
    max-width: 250px;
    display: flex;
    justify-content: space-around;
}

.book-form, .status-form  {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.book-form select, .book-form input, .status-form select, .status-form input {
    max-width: 100vw;
    border: 1px solid silver;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 7px;
    padding: 10px;
}

.submit-flight-search {
    border: 0;
    color: white;
    background: var(--pry-color);
    margin-top: 15px;
}

.how-to-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.how-to {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-to > div {
    width: 100px;
    height: 100px;
    background-color: var(--sec-color);
    border-radius: 50%;
    position: relative;
    margin: 20px 0;
}

.how-to i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-to p {
    text-align: center;
}

/* ------------------ BOOK FLIGHTS ----------------*/
.book-flights-header {
    font-size: 20px;
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.book-flights-status {
    background-color: #f5f5f5;
}

.book-flights-status-row {
    font-family: 'Montserrat', sans-serif;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: var(--pry-color);
}

.book-flights-status button {
    color: #FFF;
}

.flight-location {
    margin: 10px 0;
}

.flight-cheapest {
    font-size: 0.8em;
}

.flight-date-info {
    text-align: center;
    color: #000;
}

.book-flight-details {
    margin-top: 40px;
}

/* ------------------ FOOTER --------------*/

footer {
    padding: 20px;
    color: white;
}

.footer-info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-social {
    margin: 40px 0;
}

.footer-social i {
    margin-right: 10px;
}

.footer-contact div {
    margin-bottom: 20px;
}

.footer-contact p {
    display: inline;
    margin-left: 10px;
}

@media screen and (min-width: 768px){
    .mobile-hidden {
        display: inline;
    }

    .flight-forms {
        max-width: 60%;
        margin: 0 auto;
    }


    #fw-image p {
        bottom: 35%;
        font-size: 3em;
    }

    .footer-social {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (min-width: 1200px) {
    .flight-forms {
        max-width: 30%;
    }
}